<form id="post-auth">

	<p>You need to Log In</p>
	
	<div class="col-lg-12">
		<div class="input-group">
			<input class="form-control" placeholder="****" id="password" type="password" name="password">
	      <span class="input-group-btn">
			<button class="btn btn-secondary" onclick="postAuth()">Submit</button>
	      </span>
		</div>
    </div>

</form>